@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


  

body {
  background-color: #FCFCFC;
  font-family: 'Lato', sans-serif;
  color: #363636;
}

.carousel .slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .carousel-slider {
  overflow: hidden;
}

.carousel .control-dots {
    display: none !important;
  }

.carousel .carousel-status {
    display: none !important;
  }

