@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Variables */
:root {
  --spacing-top: 3rem;
}

/* Body */
body {
  background-color: #FCFCFC;
  font-family: 'Lato', sans-serif;
  color: #363636;
  margin: 0;
}

/* App Container */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header Styling */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  position: relative;
}

.header-logo {
  display: inline-block;

}

.header-logo svg {
  width: 100%;
  height: auto;
}

@media (min-width: 1024px) {
  .header-logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-logo svg {
    max-width: 100%;
    height: auto;
  }

}

@media (max-width: 1024px) {
  .header-logo {
    width: auto;
  }

  .header-logo svg {
    width: 380px !important; /* Ajusta el tamaño relativo del logo */
    height: auto;
  }

  .search-input-container {
    padding-top: 1rem; 
  }
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Main Container */
.main-container {
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Product List Container */
.product-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* Product Card */
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-height: auto;
}

.product-card h3 {
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card p {
  font-size: 0.875rem;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card .category-label {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  white-space: nowrap;
}

/* Category Container */
.category-container {
  display: inline-flex;
  align-items: center;
  max-width: max-content;
  border-radius: 999px;
}

.category-label {
  background-color: green;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: bold;
  white-space: nowrap;
}

/* Top Navigation */
.topnav {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  height: 48px;
}

.topnav + .content {
  margin-top: var(--spacing-top);
}

.left-section {
  display: flex;
  align-items: center;
  width: auto;
  white-space: nowrap;
  position: relative;
}

/* Right Section */
.right-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 40px; 
}

.topnav-content {
  display: flex;
  align-items: center;
  position: relative;
}

/* Message */
.message {
  position: absolute;
  top: 50%;
  transform: translate(2%, -50%); /* Centra los mensajes dentro del contenedor */
  opacity: 0;
  transition: opacity 1s ease-in-out;
  white-space: nowrap;
  text-align: center;
}

.message-show {
  opacity: 1;
}

.message-hide {
  opacity: 0;
}



/* Carousel */
.carousel .slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .carousel-slider {
  overflow: hidden;
}

.carousel .control-dots {
  display: none !important;
}

.carousel .carousel-status {
  display: none !important;
}

/* Social Media Icons */
.social-media-icons a {
  color: #F0F2F3;
  transition: color 0.3s ease;
}

.social-media-icons a:hover {
  color: #3ECC33;
}


.svg-container {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.svg-container svg {
  width: 100%;
  height: auto;
  pointer-events: all;
}

.offers-carousel {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.offer-card {
  flex: 0 0 100%; /* Ocupa todo el ancho en pantallas pequeñas */
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* Padding removed to eliminate space between cards */
  padding: 0;
  /* Margin removed to eliminate space between cards */
  margin: 0;
}

.offer-card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.offer-card:hover img {
  transform: scale(1.1);
}

.offer-card:hover {
  opacity: 0.7;
}

@media (min-width: 769px) {
  .offers-carousel {
    width: 100%; /* Ocupa todo el ancho disponible */
  }
  .offer-card {
    flex: 0 0 30%; /* Ajusta el tamaño de las tarjetas en pantallas grandes */
    max-width: 50%;
    margin: 0;
    padding: 0;
  }
}