@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  background-color: #FCFCFC;
  font-family: 'Lato', sans-serif;
  color: #363636;
  margin: 0; 
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

footer {
  position: relative;
  bottom: 0;
  width: 100%; 
}



.min-h-screen {
  min-height: 100vh;
}


.carousel .slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .carousel-slider {
  overflow: hidden;
}

.carousel .control-dots {
  display: none !important;
}

.carousel .carousel-status {
  display: none !important;
}

/* src/index.css */
.social-media-icons a {
  color: #F0F2F3;
  transition: color 0.3s ease;
}

.social-media-icons a:hover {
  color: #3ECC33; 
}

.category-container {
  display: inline-block;
}

.category-label {
  background-color: green; /* o la clase tailwind bg-green-500 */
  color: white; /* o la clase tailwind text-white */
  padding: 0.25rem 0.5rem; /* o las clases tailwind px-2 py-1 */
  border-radius: 9999px; /* o la clase tailwind rounded-full */
  font-size: 0.75rem; /* o la clase tailwind text-xs */
  font-weight: bold; /* o la clase tailwind font-bold */
}

